
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~bootstrap-vue/src/index.scss';



.navbar-laravel {
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.live-orders {
	display: flex;
	flex-wrap: wrap;
	min-width: 0;

	.product {
		width: 7em;
		border: 2px solid orange;
		background: #ffefa9;
		border-radius: 10px;
		padding: 10px;
		margin: 5px 5px 0 0;
		height: 7em;
		text-align: left;
		cursor: pointer;
		position: relative;
		-webkit-user-select: none; /* Safari */
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+/Edge */
		user-select: none; /* Standard */
		flex-grow: 1;
	}

	&::after {
		content: '';
		flex-grow: 1000;
	}
}

.live-orders .product .amount {
	font-size: 140%;
}

.live-orders .product .buttons {
	position: absolute;
	bottom: 5px;
	right: 5px;
	display: block;
}

.live-orders .product .amount {
	position: absolute;
	left: 10px;
	bottom: 5px;
	display: block;
}
.remote-order-container {
	display: flex;
	flex-wrap: wrap;
	min-width: 0;

	.order {
		margin-bottom: 10px;
		flex: 1 1 400px;
		max-width: 500px;
		margin: 5px;
	}
}

.remote-order-description {
	font-family: monospace;
}

.order {
	background: white;
	border: 1px solid gray;
	padding: 10px;
	border-radius: 10px;
	box-sizing: border-box;
}

.order-history-modal .order {
	margin-bottom: 10px;
}

#live-orders .total,
.payment-modal .total {
	border: 2px solid green;
	background: #bcffc8;
	padding: 10px;
	border-radius: 10px;
	font-size: 150%;
	margin: 20px 0;
}

#live-orders .total p,
.payment-modal .total p {
	margin: 0;
	padding: 0;
}

.payment-modal p {
	font-size: 150%;
}

.order-confirm-modal li {
	font-size: 150%;
}

.order-history {
	display: flex;
	flex-wrap: wrap;
	min-width: 0;
}

.order-history .order {
	flex: 1 1 400px;
	max-width: 700px;
	margin: 5px;
}

.order.status.processed {
	background: #bcffc8;
	border-color: green;
}

.order.status.declined {
	background: #ffc5c5;
	border-color: red;
}

.order-confirm-modal .huge {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 100px;
}

.topup-amounts .amount {
	width: 150px;
	border: 2px solid orange;
	background: #ffefa9;
	border-radius: 10px;
	padding: 10px;
	float: left;
	margin: 5px 5px 0 0;
	height: 100px;
	text-align: center;
	cursor: pointer;
	position: relative;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.topup-amounts .amount {
	font-size: 140%;
}

a.card-id {
	border: 1px solid gray;
	border-radius: 10px;
	padding: 1px 5px;
	background: #eee;
}

#check-in {
	.attendee {
		width: 150px;
		border: 2px solid orange;
		background: #ffefa9;
		border-radius: 10px;
		padding: 10px;
		float: left;
		margin: 5px 5px 0 0;
		height: 100px;
		text-align: center;
		cursor: pointer;
		position: relative;
		-webkit-user-select: none; /* Safari */
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+/Edge */
		user-select: none; /* Standard */
	}
}

.check-in-confirm {

	p {
		text-align: center;
	}

	.name {
		font-size: 200%;
	}

}

select.full-width {
	width: 100%;
}

body {
	padding-top: env(safe-area-inset-top);
}

.modal-dialog {
	margin-top: calc(env(safe-area-inset-top) * 1.1);
}

// Only add margin if the next element is also a .btn
.btn:not(:last-child) {
	margin-right: 5px;
}

input.order-token {
	max-width: 20vw;
	border: 0 none black;
	background: none;
}